.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
 
  grid: 150px / auto auto auto;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px);
  color: white;
}

.App-link {
  color: #09d3ac;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
  vertical-align: top;
}

tr:nth-child(even) {
  background-color: #dddddd;
  color:black;
}

button {
  color: white;
  background-color: darkolivegreen;
  border: 0;
  border-collapse: collapse;
  border-radius: 3px;
  padding: 12px 18px;
  
}
